*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

.menu{
    width: 500px;
    height: 500px;

    background-color: red;
    
}

.burger:hover>.burgerman{
    display: block;
    background-color: aqua;
}

.burgerman{
    display: none;
}